.titulo{
  height: 60px;
  width: 100%;
  background: #fff;
  text-align: center;
  color: #1E90FF;
  font-size: 35px;
}

.formulario{
  text-align: center;
   margin-top: 10px;
}

input{
  width: 400px;
  height: 120px;
 
}

#contador{
  color: #FFF;
}

body{
  margin: 0 auto;
  background-image:url("../../assets/img/img1.jpeg");
}

.formulario p{
  color: #fff;
}

#contentTwitts{
  color: white;
  padding: 10px 0;
  width: 100%;
  display: inline-block;
}

.informacion{
    width: 400px;
    height: 170px;
    float: left;
    background: #fff;
    margin-top: 1em;
}

#newContenedor{
  z-index: 99999;
  background: #fff;
  
}
